{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Add Employee</title>

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>

<body>

    <nav>

        <h2>Employee Management System</h2>

        <div>

            <a href="{% url 'home' %}">
                Home
            </a>

            <a href="{% url 'employee_list' %}">
                Employees
            </a>

            <a href="{% url 'logout' %}"
               class="logout">
                Logout
            </a>

        </div>

    </nav>


    <div class="form-box">

        <h1>Add Employee</h1>


        <form method="POST">

            {% csrf_token %}


            <label>Name</label>

            <input
                type="text"
                name="name"
                placeholder="Enter Name"
                required
            >


            <label>Department</label>

            <input
                type="text"
                name="department"
                placeholder="Enter Department"
                required
            >


            <label>Salary</label>

            <input
                type="number"
                name="salary"
                placeholder="Enter Salary"
                required
            >


            <button type="submit">
                Save Employee
            </button>

        </form>

    </div>

</body>

</html>